@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --kbb-navy: #071c3a;
  --kbb-blue: #8bc7ff;
  --kbb-blue-deep: #10396e;
  --kbb-white: #ffffff;
}

* {
  box-sizing: border-box;
  outline: none;
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
}

img,
button,
iframe,

a {
  user-select: none;
}

.myShadow {
  box-shadow: rgba(100, 100, 111, 0.082) 0px 7px 29px 0px;
}

input:user-invalid {
  border: 1.5px solid rgba(255, 0, 0, 0.416);
}

html,
body {
  margin: 0;
  min-height: 100%;
}
